<!DOCTYPE html>
<html>
 <head>
    <title>AngularJS alternative data binding demo</title>
    <meta charset="utf-8" /> 
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-app>
    <div ng-controller="CounterCtrl">

      <div class="box highlight">
        Days since a bug was found: {{counter}}
      </div>

      <fieldset>
        <label>Enter in new default value:</label>
        <input type="number" ng-model="counter">
      </fieldset>

      <button ng-click="increaseCounter()">No bugs found today! :)</button>
      <br />
      <button ng-click="resetCounter()">A bug was found :(</button>

    </div>

    <a href="index.html">&laquo; previous example</a>

    <script src="../angular-1.3.0-beta.2/angular.js"></script>
    <script>
      function CounterCtrl($scope) {

        $scope.counter = 0;

        $scope.increaseCounter = function() {
          $scope.counter++;
        };

        $scope.resetCounter = function() {
          $scope.counter = 0;
        };

      }
    </script>
  </body>
</html>