<!DOCTYPE html>
<html>
 <head>
    <title>AngularJS data binding demo</title>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body ng-app="demoApp">
    <div ng-controller="nameCtrl">

      <fieldset>

        <label>What’s your name?</label>

        <!-- Hardcoding the value of yourName as a "fake" example of 1-way binding -->
        <!-- <input type="text" value="{{yourName}}"> -->
        
        <!-- The Angular-way of taking advantage of 2-way binding -->
        <input type="text" ng-model="yourName">

      </fieldset>

      <h1>Hello {{yourName}}!</h1>

      <!-- Angular uses the model as the single source of truth!  -->
      <!-- The value of 'yourName' can be updated from anywhere -->
      
      <button ng-click="updateName('Larry')">Change name to Larry</button>
      <button ng-click="updateName('Curly')">Change name to Curly</button>
      <button ng-click="updateName('Moe')">Change name to Moe</button>
      

    </div>

    <footer>
      <a href="index.html">&laquo; Previous</a>
    </footer>

    <script src="../angular-1.3.0/angular.js"></script>
    <script>
    angular.module('demoApp', [])
      .controller('nameCtrl', ['$scope', nameCtrl]);

    function nameCtrl($scope) {

      // initialize value of yourName
      $scope.yourName = 'Pearl';

      // allow yourName to be updated by anything (input field or button)
      $scope.updateName = function(newName){
        $scope.yourName = newName;
      }
    
    }
    </script>
  </body>
</html>
