body { 
  padding: 2em;
  text-align: center;
}
.jumbotron {
  -webkit-transition: background-color 500ms ease-out; 
  -moz-transition: background-color 500ms ease-out;
  -o-transition: background-color 500ms ease-out;
}
.jumbotron .number {
  display: block;
  min-height: 120px;
  font-size: 4em;
  font-weight: bold;
}
.buttons button {
  margin: 5px 10px;
}
footer {
  display: block;
  border-top: 1px solid #ccc;
  padding-top: 1em;
  margin-top: 4em;
}
footer a {
  display: inline-block;
  padding: 0 20px;
}
footer a:not(:first-child) {
  border-left: 1px solid #ccc;
}